<div class="container">

  <div class="legen">
    <h2>Write your notes here!</h2>
  </div>

  <div class="create-note">
    <form #note="ngForm" (ngSubmit)="create(note)">
      <input type="title" placeholder="Title" name="title" ngModel>
      <textarea name="text" placeholder="Take a note.." name="text" ngModel></textarea>
      <div class="footer">
        <div class="empty"></div>
        <button type="submit">+</button>
      </div>
    </form>
  </div>


  <div class="notes" *ngIf="notes">
    <div class="note" *ngFor="let note of notes" (click)="openModalUpdate(note)">
      <div >
        <input type="title" name="title" [(ngModel)]="note.title">
        <textarea [(ngModel)]="note.text"></textarea>
      </div>
    </div>
  </div>

  <jw-modal id="modalUpdate">
    <div class="create-note">
      <div class="modalUpdate">
        <div class="header">
        <input type="title" placeholder="Title" name="title" [(ngModel)]="testNote.title">
        <button class="close" (click)="closeModal()">x</button>
      </div>
        <textarea name="text" placeholder="Take a note.." [(ngModel)]="testNote.text"></textarea>
        <div class="footer">
          <button class="delete" (click)="delete(testNote)">-</button>
          <button class="update" (click)="update(testNote)">+</button>
        </div>
      </div>
    </div>
  </jw-modal>

</div>
